<h2>Configurações de acesso do Sistema</h2>

<button class="btn btn-block btn-primary" type="button" onclick="Senha()">Alterar Senha padrão</button>




<script>

    function Senha() {
        window.location.href = "../Configuracao/Senha";
    }

</script>
